.src-components-GithubSearch-test--title-3Pxya {
  color: red;
}
 
.src-components-GithubSearch-test--element-3NCb5 {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 20px;
}.src-components-PlayBack-PlayBack--title-3eBe2 {
  color: red;
}

.src-components-PlayBack-PlayBack--element-1KPAj {
  background-color: red;
  color: white;
  font-size: 40px;
  padding: 20px;
}